/* Default styling is for laptop */

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}
h5 {
  text-align: center;
}
h6 {
  font-size: larger;
}
#form {
  margin: auto;
}

.btn {
  display: block;
  margin: auto;
}

input {
  margin-bottom: 1rem;
}

.card-title {
  text-align: center;
}

.card-body h6 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
.card {
  margin-bottom: 1rem;
  height: 245px;
}
.row {
  justify-content: center;
  margin-top: 2rem;
}
#forecast-card {
  margin: 1rem;
  width: 175px;
  height: 275px;
}
#day {
  margin-bottom: 3rem;
}
footer {
  padding-top: 2rem;
  text-align: center;
  font-size: small;
}
footer p {
  margin-bottom: 0;
}

@media only screen and (min-width: 651px) and (max-width: 1280px) {
  form {
    width: 300px;
  }
  .col-4 {
    max-width: 90%;
  }
}

/* Mobile */
@media only screen and (max-width: 650px) {
  h1 {
    margin-bottom: 1rem;
  }
  .row {
    flex-direction: column;
    margin-top: 1rem;
  }
  .col-4 {
    max-width: 90%;
  }
  #form {
    margin-bottom: 2rem;
  }
  .col-6 {
    max-width: 90%;
    margin: auto;
  }
  .card {
    height: 275px;
  }
  h2 {
    margin-top: 1rem;
  }
  #forecast-card {
    width: auto;
    max-width: 90%;
  }
  footer {
    margin-bottom: 1rem;
  }
}
