h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#form {
  margin: auto;
}

.btn {
  display: block;
  margin: auto;
}

input {
  margin-bottom: 1rem;
}

.card-title {
  text-align: center;
}

.card-body h6 {
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
